* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1 {
	margin: 0 0 17px 0;
}

h2 {
	margin: 0 0 19px 0;
}

h1, h2 {
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;
	color: #050038;
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}


header a {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #050038;
	text-decoration: none;
}


nav {
	padding: 33px 50px;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 60px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer {
	background: #050038;
	padding: 47px 40px;
}

footer a {
	color: white;
	text-decoration: none;
}

.heroForm+p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #050038;
	margin: 8px 0 52px 0;
}

.heroText {
	color: #050038;
	margin: 0 0 55px 0;
}

.sectionText {
	color: #696688;
	margin: 0 0 40px 0;
}

#heroButton {
	background-color: #4262FF;
	color: #FFFFFF;
	transition: background-color 1s, border-radius 1s 0.5s;

}

#heroButton:hover {
	background-color: #122db6;
		border-radius: 50%;
		
}

#heroButton:active {
	background-color: #071766;

}

.heroForm input {
	border-radius: 32px;
	border: 1px solid #9B99AF;
	height: 38px;
	padding: 5px 10px;
}

.heroForm button {
	height: 48px;
	border: 1px solid #4262FF;
	border-radius: 32px;
	padding: 10px 20px;
}

.heroForm input:focus {
	background-color: aliceblue;
}

.link {
	color: #4262FF;
	text-decoration: underline;
}

.link:hover {
	color: #122db6;
}

.sectionList {
	list-style: none;
	/* list-style: url('../images/check.svg'); */
}

.sectionList li::marker {
	content: url('../images/check.svg');
}

.experimentBlue {
	background: #071766;
	width: 400px;
	height: 400px;
	color: white;
	padding: 10px 20px 50px 30px;
	border: 5px solid #696688;
	margin: 10px auto;
}

#hero {
	font-size: 16px;
}

h1 {
	font-size: 4em;
}

.heroText {
	font-size: 2em;
}

#heroButton {
	height: 3em;
	border: 1px solid #4262FF;
	border-radius: 32px;
	padding: 1em 2.5em;
	font-size: 1em;
}

ul > li {
	font-size: 2rem;
	margin-bottom: 1rem;
} 


html {
	font-size: 20px;
}

footer {
	height: 100vh;
	width: 100%;
}


.exp div {
	height: 200px;
	background-color: #050038;
	margin: 10px;
	color: white;
	font-size: 20px;
	/* animation: my-move 2s ease forwards; */

		/* animation-name: my-move;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	
	animation-iteration-count: infinite; */
	/* animation-direction: alternate; */
	width: clamp(200px, 80%, 600px);
}


/* .exp:hover div {
	animation-play-state: paused;;
} */


@keyframes my-move {
25% {
		transform: translateX(100%);
	}

	50% {
		transform: translateX(100%) translateY(-100%);
	}

	75% {
		transform: translateX(0%) translateY(-100%)
	}

	100% {
		transform: translateX(0%) translateY(0%);
	}
}



@media (max-width: 700px) {
	h1 {
		color: yellow;
	}
}



@media (max-width: 500px) {
	h1 {
		color: red;
	}
}